<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 

   <servlet>
  	<servlet-name>RequestTokenServlet</servlet-name>
  	<servlet-class>com.xero.app.RequestTokenServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>CallbackServlet</servlet-name>
	<servlet-class>com.xero.app.CallbackServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OAuthAccessToken</servlet-name>
  	<servlet-class>com.xero.api.OAuthAccessToken</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardServlet</servlet-name>
  	<servlet-class>com.xero.app.DashboardServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>EmailServlet</servlet-name>
  	<servlet-class>com.xero.app.EmailServlet</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>Client</servlet-name>
   	<servlet-class>com.xero.app.Client</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SignUp</servlet-name>
   	<servlet-class>com.xero.app.SignUp</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SignIn</servlet-name>
   	<servlet-class>com.xero.app.SignIn</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SignUpConfirmation</servlet-name>
   	<servlet-class>com.xero.app.SignUpConfirmation</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>Settings</servlet-name>
   	<servlet-class>com.xero.app.Settings</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>Signout</display-name>
   	<servlet-name>Signout</servlet-name>
   	<servlet-class>com.xero.app.Signout</servlet-class>
   </servlet>
   <servlet>
   	<description>
   	</description>
   	<display-name>Invoices</display-name>
   	<servlet-name>Invoices</servlet-name>
   	<servlet-class>com.xero.app.Invoices</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>RequestTokenServlet</servlet-name>
  	<url-pattern>/RequestTokenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>CallbackServlet</servlet-name>
	<url-pattern>/CallbackServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OAuthAccessToken</servlet-name>
  	<url-pattern>/OAuthAccessToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardServlet</servlet-name>
  	<url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailServlet</servlet-name>
  	<url-pattern>/email</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Client</servlet-name>
  	<url-pattern>/Client</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpConfirmation</servlet-name>
  	<url-pattern>/signupconfirmation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Settings</servlet-name>
  	<url-pattern>/settings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Signout</servlet-name>
  	<url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Invoices</servlet-name>
  	<url-pattern>/invoices</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
